<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
            <bean id="sub" class="edu.jsp.springcore.Subject">
            <property name="subjectid" value="1"></property>
            <property name="name" value="maths"></property>
            </bean>
            
            <bean id="dinga" class="edu.jsp.springcore.Student">
            
            <!--  <property name="rollno" value="101"></property>
            <property name="name" value="laxmi"></property>
            <property name="email" value="laxmi@gmail.com"></property>
            <property name="per" value="99"></property>
            <property name="subject" ref="sub"></property>
            <property name="frndFriends">
            <list>
            <value>dinga</value>
            <value>dingi</value>
            <value>dingu</value>
            </list>
            </property>
            <property name="map">
            <map>
            <entry key="a" value="b"></entry>
            </map>
            </property>-->
            
            <constructor-arg name="rollno" value="101"></constructor-arg>
            <constructor-arg name="name" value="laxmi"></constructor-arg>
            <constructor-arg name="email" value="lux@gmail.com"></constructor-arg>
            <constructor-arg name="per" value="99"></constructor-arg>
            <constructor-arg name="subject" ref="sub"></constructor-arg>
            <constructor-arg name="frndFriends">
            <list>
             <value>sakthi</value>
             <value>lakshmi</value>
             <value>reesha</value>
             <value>nithi</value>
             </list>
            </constructor-arg>
            <constructor-arg name="map">
            <map>
            <entry key="anything" value="nothing"></entry>
             <entry key="ding" value="dingi"></entry>
              <entry key="hii" value="not"></entry>
            </map>
            </constructor-arg>
           

            </bean>
</beans>